body{
  min-width:1000px;        /* Suppose you want minimum width of 1000px */
  width:1000px;            /* As IE6 ignores !important it will set width as 1000px; */
}

.wd-bg-black {
  background-color: black;
}

.wd-fg-white {
  color: white;
}
.wd-fg-blue {
  color:rgb(29,161,242);
}
.wd-bg-dark-gray {
  background-color: #2e2d2d;
}
.wd-fg-gray {
  color: gray;
}
.wd-search-bar {
  border-radius:25px;
  border-width: 0px;
  padding-top: 10px;
  padding-left: 35px;
  padding-bottom: 10px;
  margin-left:16px;
  height:30px;
  width:85%;
  color: white;
}
.wd-border-div {
  border-style: solid;
  border-width: 1px;
  border-color:rgb(47, 51, 54);

  margin-left:30px;
  padding-top:8px;
  padding-bottom:20px;
  position: relative;

  clear:both;
}

.wd-border-div-topless {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(47, 51, 54);

  margin-left:30px;
  padding-top:8px;
  padding-bottom:20px;
  position: relative;
  border-top:none;
  padding-left:16px;

  clear:both;
}

.wd-nytimes-img {
  width:15px;
  height:10px;
  margin-top:10px;
  border-width: 1px;
  border-radius:25px;
}

.wd-search-img {
  width:15px;
  height:15px;
  position: absolute;
  top:15px;
  left:27px;
}

.wd-settings-img {
  width:15px;
  height:15px;
  float: right;
  margin-right: 12px;
  margin-top: 8px;
}

a {
  text-decoration: none;
  color: rgb(110, 118, 125);
}

.wd-tabs {
  margin-top:20px;
  margin-left:0px;
}

.wd-tab {
  clear: both;
  margin-top:100px;
  margin-left: 0px;
  font-size: 15px;
  padding: 16px;
}

.wd-shift-right {
  margin-left:50px;
}

.wd-selected-tab {
  padding-bottom:17px;
  border-style: solid;
  border-width: 3px;
  border-top: none;
  border-left:none;
  border-right:none;
  border-color:rgb(29,161,242);
}

.wd-left-margin {
  margin-left: 16px;
  padding-top:5px;
}

.wd-vspace-s {
  margin:3px;
}

.wd-elipses-img {
  width:15px;
  height:15px;
  float: right;
  margin-right:15px;
}

.wd-elipses-blue-img {
  width:15px;
  height:15px;
  clear: both;
  float: right;
  position:relative;
  top:5px;
  margin-right:15px;
}
 .wd-font-size-s {
    font-size:13px;
   color:rgb(110,118,125);
 }

 .wd-font-size-m {
   font-size:13px;
   margin-left: 10px;
 }

 .wd-checkmark {
   width:15px;
   height:10px;
   position:relative;
   top:2px;
 }

 .wd-description {
   position:relative;
   top:5px;
 }

 .wd-news-img {
   width: 100px;
   height: 100px;
   float: right;
   border-radius:25px;
   position:relative;
   right:16px;
   top:5px;
 }

 .wd-min-div-size-100 {
   min-height: 95px;
 }

 .wd-downshift {
   position:relative;
   top:5px;
 }

 hr {
   padding: 0px;
   margin:0px;
   height:10px;
   width: 970px;
   position:relative;
   left:30px;
   border-width: 0px;
 }

 .wd-dark-dark-gray {
   background-color: #1a1919;
 }