body {
  background-color: black;
  color:white;
  min-width: 1000px;
}

.wd-header {
  margin: 0px;
  font-size:20px;
}

.wd-fg-gray {
  color: rgb(110, 118, 125);
}

.wd-border-div-formatted {
  padding-top:12px;
  padding-left:16px;
  padding-bottom:12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(47, 51, 54);
}
.wd-border-div-formatted-topless {
  padding-top:12px;
  padding-left:16px;
  padding-bottom:12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(47, 51, 54);
  border-top:none;
  /*width:600px;*/
}

.wd-username {
  color:#9a9c9a;
  font-size:13px;
}

.wd-profile-pic {
  border-width: 1px;
  border-radius:24px;
  width:50px;
  height:50px;
  margin-right:12px;
  float:left;
  margin-bottom:560px;
}

.wd-author-name {
  font-size:15px;
}

.wd-float-right {
  float:right;
}

.wd-md-vspace-s {
  position:relative;
  top:5px;
  font-size:15px;
  max-width: 506px;
  margin-bottom:16px;
  margin-right:0px;
}

.wd-clear {
  clear:both;
}

.wd-main-img-content {
  width:504px;
  height:264px;
  border-width: 1px;
  border-style:solid;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-color: rgb(47, 51, 54);
}


.wd-rounded-corners-bot {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width:480px;
  margin-bottom:12px;
}

.wd-pad-12 {
  padding:12px;
}

.wd-post-desc {
  max-width: 504px;
  border-width: 1px;
  border-style: solid;
  border-color:  rgb(47, 51, 54);
  margin-left: 62px;
  position: relative;
  bottom:5px;
}

.wd-link-img {
  width:15px;
  height:15px;
}

.wd-padding-top-12 {
  padding-top: 8px;
}

.wd-speech-img {
  width:15px;
  height:15px;
}

.wd-margin-right {
  margin-right: 12px;
}

a {
  text-decoration: none;
}

.wd-even-spaced {
  margin-right:75px;
}

.wd-fg-red {
  color:red;
}

.wd-shift-up {
  position:relative;
  bottom:1px;
}